* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.all {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#messages {
    border: 1px solid #000;
    height: 95%;
    width: 100%;
    padding-bottom: 5%;
}
#messages p {
    margin: 0;
    padding: 10px;
    overflow-wrap: anywhere;
}
#messages :nth-child(odd){
    background: gray;
    color: #FFF;
}

#name {
    flex: 1;
    padding: 10px;
    
}
#message {
    flex: 5;
    padding: 10px;
    
}
button {
    flex: 1;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
}
button:hover {
    background-color: blue;
}



@media only screen and (min-width: 250px) and (max-width: 720px)
{
    form {
        display: flex;
        flex-direction: column;
    }
    #messages {
        padding-bottom: 34%;
    }
   
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #name {
        border: 2px solid black;
    }
    #message {
        border: 2px solid black;
    }
    }